 /** CSS */ 
.topo-site
{
    background-color: #231f20;
    color: #efe6dd;
}

.topo-site a
{
    color: #efe6dd;
    text-decoration: none;   
    transition: 200ms;
}

.topo-site a:hover
{
    color: #f3dfa2;
    
}

.topo-site .input-busca
{
    box-shadow: none;
    border-color: transparent;
}

.topo-site .btn-busca
{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border: none;
    background-color: transparent;
    width: 3em;
}

/*  RODAPÉ */

.rodape-site {
    background-color: #e4d0bc;
    color: rgb(56, 39, 30);
    min-height: 400px;
}

.rodape-site .pgto-social a,
.rodape-site .pgto-social svg {
    color: #777;
    text-decoration: none;
    transition: 200ms;
}
.rodape-site .pgto-social a:hover,
.rodape-site .pgto-social svg:hover {
color: #333;
}

.rodape-site {
	position:relative;
	bottom: 0;
	}

.rodape-site .info-matriz {
    font-size: 8em ;
}

